.App {
  font-family: Arial, sans-serif;
  margin: 5rem 15rem;
}

.add-product-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  height: 70px;
}

.add-product-form input {
  padding: 5px;
  font-size: 16px;
}

.add-product-form button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  height: 33px;
}

.capacity-opions {
  height: 32px;
  padding-right: 10px;
  padding-left: 10px;
}

.filter-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-section select {
  padding: 5px;
  font-size: 16px;
}

.filter-section button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.product-list {
  margin-bottom: 40px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.charts-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.charts-section canvas {
  width: 100% !important;
  height: auto !important;
}

.error-message {
  color: red;
  font-size: 12px;
}